/* Container for the filter section */
.wc-advanced-filter-section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Grouping filters */
.wc-advanced-filter-section .filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Individual filter fields */
.wc-advanced-filter-section .filter-field {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

/* Labels for form elements */
.wc-advanced-filter-section .filter-field label {
    display: block;
    font-weight: bold;
    /* margin-top: 10px; */
}

/* Styling for text input fields */
.wc-advanced-filter-section .filter-field input[type="search"],
.wc-advanced-filter-section .filter-field input[type="number"],
.wc-advanced-filter-section .filter-field select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Styling for price range input fields */
.wc-advanced-filter-section
.filter-field.price-range div {
    display: flex;
}

/* Styling for the filter button */
.wc-advanced-filter-section .filter-button {
    background: #fff;
    color: #303132;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #303132;

}

.wc-advanced-filter-section .filter-button:hover {
    background: #303132;
    color: #fff;
}

/* .filter-button-reset {
    background: #fff;
    color: #303132;
    border: 1px solid #303132;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.filter-button-reset:hover{
    background: #303132;
    color: #fff;
} */
